# Prepping Data Challenge: Pokemon Hierarchies (week 10)
The aim of this challenge is to group Pokémon into Evolution Groups. Why? So that when we select any Pokémon, we can see all the information about what they evolved from, what they will evolve to etc.

How is this applicable to other hierarchical data? Well, imagine that a Pokémon that has a null in the Evolves From field is similar to an employee at Work Level 1 in an organisation. Their manager would then sit in the Evolves To field. Our Evolution Group in this instance would be the Team the employee belongs to and it would give us the ability to type in any employee name and return information about which team they belong to and the structure of that team.

## Requirement:
1. Our Pokémon dataset actually contains too many Pokémon
    * We're only interested in Pokémon up to Generation III, which is up to (and including) number 386
    * This means we're also not interested in mega evolutions so we can filter Pokémon whose name start with "Mega"
2. Some Pokémon have more than one Type. We aren't interested in Types for this challenge so remove this field and ensure we have one row per Pokémon
3. Now we want to bring in information about what our Pokémon evolve to 
    * Warning!  In our Evolution dataset, we still have Pokémon beyond Gen III. You'll need to filter these out too, from both the evolved from and evolved to fields
4. Bring in information about what a Pokémon evolves from
    * Ensure that we have all 386 of our Pokémon, with nulls if they don't have a pre-evolved form or if they don't evolve
5. Finally, for Pokémon that have 3 evolutions, we want to know what the First Evolution is in their Evolution Group
6. Some duplication may have occurred with all our joins, ensure no 2 rows are exactly the same
7. Create a calculation for our Evolution Group
    * The Evolution Group will be named after the First Evolution e.g. in the above example, Bulbasaur is the name of the Evolution Group

In [61]:
import pandas as pd
import numpy as np

In [53]:
df_pokemon = pd.read_excel('Pokemon Input.xlsx', sheet_name='Pokemon') 
df_evolutions = pd.read_excel('Pokemon Input.xlsx', sheet_name='Evolution')

## 1. Our Pokémon dataset actually contains too many Pokémon

In [54]:
df_pokemon['#'] = df_pokemon['#'].astype('float')
df_pokemon = df_pokemon[(df_pokemon['#'] <= 386) & (~df_pokemon['Name'].str.contains('Mega\s+'))]
df_pokemon

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
0,1.0,Bulbasaur,GRASS,318,45,49,49,65,65,45
1,1.0,Bulbasaur,POISON,318,45,49,49,65,65,45
2,2.0,Ivysaur,GRASS,405,60,62,63,80,80,60
3,2.0,Ivysaur,POISON,405,60,62,63,80,80,60
4,3.0,Venusaur,GRASS,525,80,82,83,100,100,80
...,...,...,...,...,...,...,...,...,...,...
612,384.0,Rayquaza,DRAGON,680,105,150,90,150,90,95
613,384.0,Rayquaza,FLYING,680,105,150,90,150,90,95
614,385.0,Jirachi,STEEL,600,100,100,100,100,100,100
615,385.0,Jirachi,PSYCHIC,600,100,100,100,100,100,100
616,386.0,Deoxys- Normal Forme,PSYCHIC,600,50,150,50,150,50,150

## 2. Some Pokémon have more than one Type. We aren't interested in Types for this challenge so remove this field and ensure we have one row per Pokémon

In [55]:
df_pokemon.drop(columns='Type', inplace=True)
df_pokemon.drop_duplicates('Name', inplace=True)

## 3. Bring in information about what a Pokémon evolves from

In [63]:
df_output = pd.merge(df_evolutions, df_pokemon, how='right', left_on='Evolving from', right_on='Name').drop(columns='Evolving from')

## 4. Bring in information about what a Pokémon evolves to

In [ ]:
df_output = df_output.merge(df_evolutions[['Evolving to', 'Evolving from']], how='left', left_on='Name', right_on='Evolving to').drop(columns='Evolving to_y').rename(columns={'Evolving to_x':'Evolving to'})

## 5. Finally, for Pokémon that have 3 evolutions, we want to know what the First Evolution is in their Evolution Group

In [63]:
df_output = df_output.merge(df_output[['Name', 'Evolving from']], how='left', left_on='Evolving from', right_on='Name').drop(columns='Name_y').rename(columns={'Evolving from_x':'Evolving from', 'Evolving from_y':'First Evolution', 'Name_x':'Name'})

## 6. Some duplication may have occurred with all our joins, ensure no 2 rows are exactly the same

In [63]:
df_output.drop_duplicates(inplace=True)
df_output

,#,Name,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,Evolving from,First Evolution,Evolving to,Level,Condition,Evolution Type,Evolution Group
0,1.0,Bulbasaur,318,45,49,49,65,65,45,NaN,NaN,Ivysaur,16.0,NaN,Level,Bulbasaur
1,2.0,Ivysaur,405,60,62,63,80,80,60,Bulbasaur,NaN,Venusaur,32.0,NaN,Level,Bulbasaur
2,3.0,Venusaur,525,80,82,83,100,100,80,Ivysaur,Bulbasaur,NaN,NaN,NaN,NaN,Bulbasaur
3,4.0,Charmander,309,39,52,43,60,50,65,NaN,NaN,Charmeleon,16.0,NaN,Level,Charmander
4,5.0,Charmeleon,405,58,64,58,80,65,80,Charmander,NaN,Charizard,36.0,NaN,Level,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,382.0,Kyogre,670,100,100,90,150,140,90,NaN,NaN,NaN,NaN,NaN,NaN,Kyogre
604,383.0,Groudon,670,100,150,140,100,90,90,NaN,NaN,NaN,NaN,NaN,NaN,Groudon
605,384.0,Rayquaza,680,105,150,90,150,90,95,NaN,NaN,NaN,NaN,NaN,NaN,Rayquaza
606,385.0,Jirachi,600,100,100,100,100,100,100,NaN,NaN,NaN,NaN,NaN,NaN,Jirachi
607,386.0,Deoxys- Normal Forme,600,50,150,50,150,50,150,NaN,NaN,NaN,NaN,NaN,NaN,Deoxys- Normal Forme

## 7. Create a calculation for our Evolution Group

In [ ]:
df_output['Evolution Group'] = np.where(df_output['First Evolution'].notna(), df_output['First Evolution'], np.where(df_output['Evolving from'].notna(), df_output['Evolving from'], df_output['Name']))
df_output = df_output[['#', 'Name', 'Total', 'HP', 'Attack', 'Defense', 'Special Attack', 'Special Defense', 'Speed', 'Evolution Group', 'Evolving from', 'First Evolution', 'Evolving to', 'Level', 'Condition', 'Evolution Type']]