In [289]:
import pandas as pd
from pandasgui import show

# Steps:
### 1. calculate rankings
### 2. groupby and aggregate
### 3. melt and pivot
### 4. calculate the difference between the two tours

In [290]:
df = pd.read_excel('PGALPGAMoney2019.xlsx').rename(columns=str.title)
df

            Player Name    Money  Events  Tour
0         Brooks Koepka  9684006      21   PGA
1          Rory McIlroy  7785286      19   PGA
2           Matt Kuchar  6294690      22   PGA
3       Patrick Cantlay  6121488      21   PGA
4         Gary Woodland  5690965      24   PGA
..                  ...      ...     ...   ...
195       Lindy Duncan    130654      25  LPGA
196    Daniela Darquea    129608      21  LPGA
197        Maria Fassi    129164      11  LPGA
198   Stephanie Meadow    127796      21  LPGA
199  Mariah Stackhouse    127365      20  LPGA

[200 rows x 4 columns]

In [291]:
# get rankings
df['Tour Rank'] = df.groupby('Tour')['Money'].rank()
df['Ovr Rank'] = df['Money'].rank()
df['Diff in Ranking'] = df['Ovr Rank'] - df['Tour Rank']
df

,Player Name,Money,Events,Tour,Tour Rank,Ovr Rank,Diff in Ranking
0,Brooks Koepka,9684006,21,PGA,100.0,200.0,100.0
1,Rory McIlroy,7785286,19,PGA,99.0,199.0,100.0
2,Matt Kuchar,6294690,22,PGA,98.0,198.0,100.0
3,Patrick Cantlay,6121488,21,PGA,97.0,197.0,100.0
4,Gary Woodland,5690965,24,PGA,96.0,196.0,100.0
...,...,...,...,...,...,...,...
195,Lindy Duncan,130654,25,LPGA,5.0,5.0,0.0
196,Daniela Darquea,129608,21,LPGA,4.0,4.0,0.0
197,Maria Fassi,129164,11,LPGA,3.0,3.0,0.0
198,Stephanie Meadow,127796,21,LPGA,2.0,2.0,0.0
199,Mariah Stackhouse,127365,20,LPGA,1.0,1.0,0.0

In [300]:
# grouby
df_output = df.groupby('Tour', as_index=False).agg(Avg_Diff_in_Ranking=('Diff in Ranking','mean'), Avg_Money_per_Event=('Money','mean'), Num_of_Players=('Player Name','count'), Num_of_Events=('Events','sum'), Tot_Prize_Money=('Money','sum'))
df_output.rename(columns=lambda x:x.replace('_', ' '), inplace=True)
df_output

,Tour,Avg Diff in Ranking,Avg Money per Event,Num of Players,Num of Events,Tot Prize Money
0,LPGA,3.87,584104.11,100,2266,58410411
1,PGA,96.13,2567263.56,100,2282,256726356

In [301]:
# melt
df_output = df_output.melt(id_vars='Tour', var_name='Measure')
df_output

   Tour              Measure         value
0  LPGA  Avg Diff in Ranking  3.870000e+00
1   PGA  Avg Diff in Ranking  9.613000e+01
2  LPGA  Avg Money per Event  5.841041e+05
3   PGA  Avg Money per Event  2.567264e+06
4  LPGA       Num of Players  1.000000e+02
5   PGA       Num of Players  1.000000e+02
6  LPGA        Num of Events  2.266000e+03
7   PGA        Num of Events  2.282000e+03
8  LPGA      Tot Prize Money  5.841041e+07
9   PGA      Tot Prize Money  2.567264e+08

In [302]:
# pivot
df_output = df_output.pivot(index=['Measure'], columns='Tour', values='value').reset_index().rename_axis(None, axis=1)
df_output

               Measure         LPGA           PGA
0  Avg Diff in Ranking         3.87  9.613000e+01
1  Avg Money per Event    584104.11  2.567264e+06
2        Num of Events      2266.00  2.282000e+03
3       Num of Players       100.00  1.000000e+02
4      Tot Prize Money  58410411.00  2.567264e+08

In [287]:
df_output['Difference'] = df_output['LPGA'] - df_output['PGA']
df_output

               Measure         LPGA           PGA    Difference
0  Avg Diff in Ranking         3.87  9.613000e+01 -9.226000e+01
1  Avg Money per Event    584104.11  2.567264e+06 -1.983159e+06
2        Num of Events      2266.00  2.282000e+03 -1.600000e+01
3       Num of Players       100.00  1.000000e+02  0.000000e+00
4      Tot Prize Money  58410411.00  2.567264e+08 -1.983159e+08