# 2021: Week 11 - Cocktail Profit Margins
This week's challenge has been put together by Vivien to challenge a lot of the fundamental prep skills you have built up so far this year. 

Vivien's challenge is looking at cocktail pricing (a common trend over the years at Preppin' HQ) and whether you can determine how much profit you can make from certain cocktails because who doesn't talk about data preparation when you are in a bar?
## Steps:
1. Split out the recipes into the different ingredients and their measurements
2. Calculate the price in pounds, for the required measurement of each ingredient
3. Join the ingredient costs to their relative cocktails
4. Find the total cost of each cocktail 
5. Include a calculated field for the profit margin i.e. the difference between each cocktail's price and it's overall cost 
6. Round all numeric fields to 2 decimal places

In [1]:
import pandas as pd

## 1. Split out the recipes into the different ingredients and their measurements

In [6]:
df_cocktails = pd.read_excel('Cocktails Dataset.xlsx', sheet_name='Cocktails')
df_cocktails['Recipe (ml)'] = df_cocktails['Recipe (ml)'].str.split('; ')
df_cocktails = df_cocktails.explode('Recipe (ml)')
df_cocktails[['Ingredient', 'Amount (ml)']] = df_cocktails['Recipe (ml)'].str.split(':', expand=True)
df_cocktails.drop(columns='Recipe (ml)', inplace=True)
df_cocktails['Amount (ml)'] = df_cocktails['Amount (ml)'].str.strip('ml').astype('int')

               Cocktail  Price (£)          Ingredient  Amount (ml)
0  Raspberry Lemon Drop       8.50       Citroen Vodka           45
0  Raspberry Lemon Drop       8.50            Chambord           20
0  Raspberry Lemon Drop       8.50          Triple Sec           20
1            Bay Breeze       7.20         Plain Vodka           60
1            Bay Breeze       7.20     Cranberry Juice           90
1            Bay Breeze       7.20     Pineapple Juice           30
2       Alabama Slammer       8.25    Southern Comfort           15
2       Alabama Slammer       8.25            Sloe Gin           15
2       Alabama Slammer       8.25            Amaretto           15
2       Alabama Slammer       8.25        Orange Juice          120
3        Watermelon Man       7.00         Plain Vodka           60
3        Watermelon Man       7.00  Watermelon Schapps           30
3        Watermelon Man       7.00           Cointreau           30
3        Watermelon Man       7.00           Lime Soda          200
4        Orange Blossom       8.70      London Dry Gin           30
4        Orange Blossom       8.70           Cointreau           10
4        Orange Blossom       8.70        Orange Juice           30

## 2. Calculate the price in pounds, for the required measurement of each ingredient
## 3. Join the ingredient costs to their relative cocktails
## 4. Find the total cost of each cocktail

In [27]:
df_currency_conv = pd.read_excel('Cocktails Dataset.xlsx', sheet_name='Conversion Rates')
df_sourcing = pd.read_excel('Cocktails Dataset.xlsx', sheet_name='Sourcing')
df_output = pd.merge(df_currency_conv, df_sourcing, on='Currency')
df_output['Bought for (£)'] = df_output['Price'] / df_output['Conversion Rate £']
df_output = df_output.merge(df_cocktails, how='right', on='Ingredient')
df_output

,Currency,Conversion Rate £,Ingredient,Price,ml per Bottle,Bought for (£),Cocktail,Price (£),Amount (ml)
0,Euro,1.14,Citroen Vodka,19.25,500,16.885965,Raspberry Lemon Drop,8.50,45
1,Euro,1.14,Chambord,22.85,450,20.043860,Raspberry Lemon Drop,8.50,20
2,Dollar,1.38,Triple Sec,12.00,400,8.695652,Raspberry Lemon Drop,8.50,20
3,Euro,1.14,Plain Vodka,15.24,500,13.368421,Bay Breeze,7.20,60
4,Euro,1.14,Plain Vodka,15.24,500,13.368421,Watermelon Man,7.00,60
5,Pound,1.00,Cranberry Juice,1.33,1000,1.330000,Bay Breeze,7.20,90
6,Pound,1.00,Pineapple Juice,1.80,1000,1.800000,Bay Breeze,7.20,30
7,Dollar,1.38,Southern Comfort,20.99,750,15.210145,Alabama Slammer,8.25,15
8,Euro,1.14,Sloe Gin,22.99,500,20.166667,Alabama Slammer,8.25,15
9,Euro,1.14,Amaretto,16.60,500,14.561404,Alabama Slammer,8.25,15
10,Pound,1.00,Orange Juice,1.42,1000,1.420000,Alabama Slammer,8.25,120
11,Pound,1.00,Orange Juice,1.42,1000,1.420000,Orange Blossom,8.70,30
12,Euro,1.14,Watermelon Schapps,19.79,500,17.359649,Watermelon Man,7.00,30
13,Dollar,1.38,Cointreau,15.59,500,11.297101,Watermelon Man,7.00,30
14,Dollar,1.38,Cointreau,15.59,500,11.297101,Orange Blossom,8.70,10
15,Pound,1.00,Lime Soda,0.98,750,0.980000,Watermelon Man,7.00,200
16,Pound,1.00,London Dry Gin,15.29,750,15.290000,Orange Blossom,8.70,30

## 5. Include a calculated field for the profit margin i.e. the difference between each cocktail's price and it's overall cost 
## 6. Round all numeric fields to 2 decimal places

In [28]:
df_output['Cost (£)'] = (df_output['Amount (ml)'] / df_output['ml per Bottle']) * df_output['Bought for (£)']
df_output = df_output.groupby('Cocktail', as_index=False).agg({'Cost (£)':'sum', 'Price (£)':'mean'})
df_output['Margin'] = df_output['Price (£)'] - df_output['Cost (£)']
df_output

               Cocktail  Cost (£)  Price (£)    Margin
0       Alabama Slammer  1.516445       8.25  6.733555
1            Bay Breeze  1.777911       7.20  5.422089
2        Orange Blossom  0.880142       8.70  7.819858
3  Raspberry Lemon Drop  2.845358       8.50  5.654642
4        Watermelon Man  3.584949       7.00  3.415051